.spotlights-grid {
  margin-top: 10px;

  .landing-page-content-box-item {
    margin-right: 1%;
    border: 1px solid #E3E3E3;
    height: 95%;
    margin-bottom: 10px !important;
    width: 100%;
    padding: 0px;
    float: left;

    @media (min-width: $grid-float-breakpoint) {
      width: 48%;
    }

    .article {
      margin: 20px;
      width: 340px;
      font-size: .9em;

      h2 {
        margin: 0px 0px 10px 0px;
        font-size: 1.7em;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 200;

        a {
          text-decoration: none;
          color: #000;
        }
      }

      .text-box {
        margin-bottom: 10px;
        height: 70px;
        min-height: 70px;
        p {
          font-size: 1em;
          line-height: 1.5;
          margin: 0 0 1.5em 0;
        }
      }
      .image-box {
        width: 130px;
        float: right;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 3px;
      }
    }


  }

}

