.aat-secondarynav {
  position: relative;
  background: $aat-grey-lh-nav;
  margin-top: 15px;
  padding-bottom: 15px;

  h2 {
    padding: 10px 10px 0;
    margin-bottom: 10px;
    margin-top: 5px;
    background: $aat-grey-lh-nav;
  }

  ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    ul {
      margin: 0 0 0 1em;
    }

  }

  li {
    padding: 0;
  }

  ul > li > a {
    padding: 5px 2em 5px 10px;
    margin: 5px 10px 0;
    display: block;
    border-bottom: 1px solid #B1B6BD;
    color: #64696e;
    background: #ffffff;
  }

  ul > li > i {
    left: auto;
    right: 0px;
    top: 10px;
    display: none;
  }
  // Arrows collapsed
  ul > li.collapsed > i {
    display: block;
    margin-right: 15px;
    z-index: 1;
  }
  // Arrows expanded
  ul > li.expanded > i {
    display: block;
    color: $aat-green;
    margin-right: 15px;
    z-index: 1;
  }

  ul > li > a:hover {
    color: $aat-green;
    background: #ffffff;
  }

  ul > li > a.active {
    font-weight: bold;
    margin-right: -1px;
    background: #ffffff !important;
  }

  ul > li.expanded > ul > li > a {
    border-left: 5px solid $aat-green;
    background: #eeeeee;
  }

  ul > li.expanded > ul > li.depth-3 > a {
    border-left: 5px solid $aat-mauve;
    background: #eeeeee;
  }

  ul > li.expanded > ul > li.depth-3 > a.active {
    background: #ffffff;
  }

  // 2nd level -
  li.last.leaf.depth-1 {
    list-style: outside none none;
    margin-bottom: 15px;
  }
}
