@font-face {

  font-family: "Trade Gothic W01_n1";

  src: url("../../fonts/tradegothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot")

}

@font-face {

  font-family: "Trade Gothic W01";

  src: url("../../fonts/tradegothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix");

  src: url("../../fonts/tradegothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot"), url("../../fonts/tradegothic/5414f75e-5cb8-4357-88e5-5a294424c859.woff2") format("woff2"), url("../../fonts/tradegothic/537b145a-6a7d-4787-81d9-7228d3a42458.woff") format("woff"), url("../../fonts/tradegothic/8e50278c-45cd-4808-b774-24767d958f17.ttf") format("truetype"), url("../../fonts/tradegothic/d918b947-5fcb-42e2-8286-a98a801876de.svg#d918b947-5fcb-42e2-8286-a98a801876de") format("svg");

  font-weight: 100;

  font-style: normal;

}

@font-face {

  font-family: "Trade Gothic W04_n7";

  src: url("../../fonts/tradegothic/42f8f200-6ff8-4b67-bc96-8d674f4b3275.eot?#iefix") format("eot")

}

@font-face {

  font-family: "Trade Gothic W04";

  src: url("../../fonts/tradegothic/42f8f200-6ff8-4b67-bc96-8d674f4b3275.eot?#iefix");

  src: url("../../fonts/tradegothic/42f8f200-6ff8-4b67-bc96-8d674f4b3275.eot?#iefix") format("eot"), url("../../fonts/tradegothic/0bfd2aae-9a10-46f3-924e-402e9ad13428.woff2") format("woff2"), url("../../fonts/tradegothic/215149dc-634c-4908-971e-9f03beeede36.woff") format("woff"), url("../../fonts/tradegothic/1cef6dfa-3f90-464c-a4aa-902709a78cea.ttf") format("truetype"), url("../../fonts/tradegothic/000415cf-58f3-457f-bf5f-5e28411c5069.svg#000415cf-58f3-457f-bf5f-5e28411c5069") format("svg");

  font-weight: 700;

  font-style: normal;

}

@font-face {

  font-family: "Trade Gothic W01_n7";

  src: url("../../fonts/tradegothic/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot")

}

@font-face {

  font-family: "Trade Gothic W01";

  src: url("../../fonts/tradegothic/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix");

  src: url("../../fonts/tradegothic/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot"), url("../../fonts/tradegothic/1ba28851-f34b-4cb8-bf58-6a4b160ba249.woff2") format("woff2"), url("../../fonts/tradegothic/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"), url("../../fonts/tradegothic/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"), url("../../fonts/tradegothic/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg");

  font-weight: 700;

  font-style: normal;

}