body {
  font-family: "Trade Gothic W01", Arial, Helvetica, sans-serif;
}

p {
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 20px;

}

h1 {
  font-size: 60px;

}

h2 {
  font-size: 40px;
  font-weight: 300;

}

h3 {
  font-size: 24px;
  margin-bottom: 20px;

}

h4 {
  font-size: 18px;

}

h5 {
  font-size: 15px;

  text-transform: uppercase;
  font-weight: 500;

}

