/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 20px;
  font-family: "Trade Gothic W01", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 60px;
  font-family: "Trade Gothic W01", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: 300;

  font-family: "Trade Gothic W01", Arial, Helvetica, sans-serif;}

h3 {
  font-size: 24px;
  margin-bottom: 20px;

  font-family: "Trade Gothic W01", Arial, Helvetica, sans-serif;}

h4 {
  font-size: 18px;
  font-family: "Trade Gothic W01", Arial, Helvetica, sans-serif;}

h5 {
  font-size: 15px;

  text-transform: uppercase;
  font-weight: 500;
  font-family: "Trade Gothic W01", Arial, Helvetica, sans-serif;}

