h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6, h2 a, .btn a {
  font-family: 'Trade Gothic W01', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  //  color: #333;
}


.hero-redesign-image {
  position: relative;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  background-image: url("/img/img_full.jpg");
}

.hero-redesign-image:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.32) 0%, rgba(0,0,0,0.51) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.32)), color-stop(100%,rgba(0,0,0,0.51))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.32) 0%,rgba(0,0,0,0.51) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.32) 0%,rgba(0,0,0,0.51) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.32) 0%,rgba(0,0,0,0.51) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.32) 0%,rgba(0,0,0,0.51) 100%); /* W3C */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52000000', endColorstr='#82000000',GradientType=0 ); /* IE6-9 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);

  @media screen and (min-width: $screen-sm-min) {
    background: -moz-linear-gradient(top,  rgba(0,0,0,.69) 0%, rgba(0,0,0,0.69) 15%, rgba(0,0,0,0.69) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(15%,rgba(0,0,0,0)), color-stop(100%,rgba(0.69,0,0,0.69))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.69) 0%,rgba(0,0,0,0.69) 15%,rgba(0,0,0,0.69) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.69) 0%,rgba(0,0,0,0.69) 15%,rgba(0,0,0,0.69) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.69) 0%,rgba(0,0,0,0.69) 15%,rgba(0,0,0,0.69) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.69) 0%,rgba(0,0,0,0.69) 15%,rgba(0,0,0,0.69) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c9000000',GradientType=0 ); /* IE6-9 */
  }

  @media screen and (min-width: $screen-md-min) {
    background: -moz-linear-gradient(top,  rgba(0,0,0,.69) 0%, rgba(0,0,0,0.69) 15%, rgba(0,0,0,0.69) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(15%,rgba(0,0,0,0)), color-stop(100%,rgba(0.69,0,0,0.69))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.69) 0%,rgba(0,0,0,0.69) 15%,rgba(0,0,0,0.69) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.69) 0%,rgba(0,0,0,0.69) 15%,rgba(0,0,0,0.69) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.69) 0%,rgba(0,0,0,0.69) 15%,rgba(0,0,0,0.69) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.69) 0%,rgba(0,0,0,0.69) 15%,rgba(0,0,0,0.69) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c9000000',GradientType=0 ); /* IE6-9 */
  }

  @media screen and (min-width: $screen-lg-min) {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0.79) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(15%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.79))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0.79) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0.79) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0.79) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0.79) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c9000000',GradientType=0 ); /* IE6-9 */
  }
}
#head-content {
  padding-top:200px;

  color: white;


  h1 {
    text-transform: uppercase;
    font-size: 45px;
  }


}

#h2-hero {
  color: #ffffff;
  font-size: 22px;
  text-align: center;

  @media screen and (min-width: $screen-xs-min) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: $screen-sm-min) {
    font-size: 26px;
  }

  @media screen and (min-width: $screen-md-min) {
    font-size: 36px;
  }

  @media screen and (min-width: $screen-lg-min) {
    font-size: 44px;
  }
}



.fa-youtube-play {
  padding-right: 10px;
}

.youtube {

  @media screen and (min-width: $screen-sm-min) {
    width: 640px;
    height: 360px;
  }

  @media screen and (min-width: $screen-lg-min) {
    width: 960px;
    height: 540px;
  }
}

div.scroll-down {
  margin: 30px 0 0 0;

  @media screen and (min-width: $screen-lg-min) {
    margin: 15px 0 0 0;
  }
}

#hero-fa-chevron {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.4);
}




#head-container {
  // Restrict width of content inside head section
  width: 100%;
  text-align: center;
  margin: 0;
  padding-bottom: 40px;


  @media screen and (min-width: $screen-xs-min) {
    width: 100%;
    padding-bottom: 40px;
    height: 25vh;
  }

  @media screen and (min-width: $screen-sm-min) {
    width: 100%;
    margin: auto 0;
    padding-bottom: 10px;
    padding-top: 5px;
    height: 25vh;
  }

  @media screen and (min-width: $screen-md-min) {
    padding-bottom: 0;
    height: 45vh;
  }

  @media screen and (min-width: $screen-lg-min) {
    width: 100%;
    padding-top: 170px;
    height: 50vh;
  }

  /* ----------- Custom breakpoint - iPad 3 and 4 ----------- */
  /* Portrait and Landscape - css-tricks.com/snippets/css/media-queries-for-standard-devices */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

  }

  /* Portrait */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    height: 25vh;
    margin-bottom: 15px;
  }

  /* Landscape */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    height: 30vh;
    margin-bottom: 62px;
  }

  /* ----------- Custom breakpoint - iPhone 6 landscape ----------- */
  //  http://stephen.io/mediaqueries/
  @media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : landscape) {
    width: 100%;
    padding-bottom: 40px;
    height: 180vh;
  }


  /* ----------- Custom breakpoint - iPhone 6 Plus landscape ----------- */
  @media only screen
  and (min-device-width : 414px)
  and (max-device-width : 736px)
  and (orientation : landscape) {
    width: 100%;
    height: 380px;
    margin-bottom: 100px;
  }


  /* ----------- Custom breakpoint - iPhone 5 snd 5s landscape ----------- */


  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    width: 100%;
    padding-bottom: 40px;
    height: 220px;
  }



  /* ----------- Custom breakpoint - Android phone landscape
   http://cssmediaqueries.com/target/HTC+One.html ----------- */

  @media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape){
    width: 100%;
    padding-bottom: 15px;
    height: 30vh;
  }

}

#head-content {
  //  background: $gray-lightest;
  margin: 15px 0 0 0;

  @media screen and (min-width: $screen-xs-min) {
    margin: 15px 0 15px 0;
  }

  @media screen and (min-width: $screen-sm-min) {
    margin: 20px 0 15px 0;
  }

  @media screen and (min-width: $screen-md-min) {
    margin: 25px 0 15px 0;
  }

  @media screen and (min-width: $screen-lg-min) {
    margin: 32px 0 15px 0;
  }

  /* ----------- Custom breakpoint - iPad 3 and 4 ----------- */
  /* Portrait and Landscape */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

  }

  /* Portrait */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    margin: 5px 0 15px 0;
  }

  /* Landscape */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    margin: 10px 0 15px 0;
  }

}


// ------------------------------------------------------
// Steps section (How to study with AAT)
// ------------------------------------------------------

.section-steps {
  margin-top: 30px;
  h2 {
    text-align: center;
  }
}


// SECTION 3

.section-3 {
  background: url('/img/Campaign-goodbye-job-full.jpg');
  height: 380px;
  padding: 15px 0;
  background-position: center top;
  //  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: $aat-green;

  @media screen and (min-width: $screen-md-min) {
    padding: 0;
  }
}

#section-3-container {
  width: 100%;
  //  padding: 30px 0;

  @media screen and (min-width: $screen-xs-min) {
    //    padding: 30px 0 0 0;
  }

  @media screen and (min-width: $screen-sm-min) {
    //    padding: 30px 0;
  }


  #section-3-content-wrap {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding-left: 0;
    width: 100%;

    @media screen and (min-width: $screen-sm-min) {
      padding-bottom: 0;
    }

    @media screen and (min-width: $screen-md-min) {
      //      padding-left: 30px;
    }
  }


  //  Vertical alignment
  //  http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
  #section-3-text-wrap {
    position: relative;
    height: 340px;
    color: #fff;

    h2#h2-section-3 {
      position: relative;
      top: 28%;
      -webkit-transform: translateY(-72%);
      -ms-transform: translateY(-72%);
      transform: translateY(-72%);

      font-size: 50px;
      font-weight: 700;

      @media screen and (max-width: $screen-xs-min) {
        font-size: 36px;
      }
    }

    p#section-3-campaign-text {
      position: relative;
      top: 32%;
      -webkit-transform: translateY(-68%);
      -ms-transform: translateY(-68%);
      transform: translateY(-68%);

      font-size: 22px;

      @media screen and (max-width: $screen-xs-min) {
        font-size: 16px;
      }
    }

    div.campaign-btn {
      position: relative;
      top: 40%;
      margin-top: 15px;
      -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
      transform: translateY(-60%);
    }

    small {
      position: relative;
      top: 40%;
      -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
      transform: translateY(-60%);
      display: block;

      @media screen and (max-width: $screen-sm-min) {
        top: 32%;
        -webkit-transform: translateY(-68%);
        -ms-transform: translateY(-68%);
        transform: translateY(-68%);
      }

      @media screen and (max-width: $screen-md-min) {
        top: 30%;
        -webkit-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
        transform: translateY(-70%);
      }
    }
  }
}

.section-3-img {
  position: relative;
}

// SECTION 4

.section-4 {
  //  border-top: 1px solid $gray-lighter;
  background: $gray-lightest;
  margin: 40px 0 0 0;
  padding: 5px 0 25px 0;

  @media screen and (min-width: $screen-sm-min) {
    margin: 0;
    margin-bottom: 10px;
  }

  @media screen and (min-width: $screen-md-min) {
    margin: 0;
  }

  #section-4-container {
    text-align: left;
    padding: 15px 15px 35px 40px;
    width: 100%;

    #h2-social-community {
      text-align: center;
      margin: 25px 0 15px 0;
    }

    .case-study-front {
      text-align: center;

      @media screen and (max-width: $screen-xs-min) {
        text-align: left;
      }

      @media screen and (max-width: $screen-sm-min) {
        text-align: left;
      }

      @media screen and (max-width: $screen-md-min) {
        text-align: left;
      }

      .div-quote {
        width: 100%;

        @media screen and (max-width: $screen-md-min) {
          float: left;
          width: 50%;
        }

        @media screen and (max-width: $screen-xs-min) {
          width: 100%;
        }

        @media screen and (max-width: $screen-sm-min) {
          width: 100%;
        }

        blockquote { //Frontpage blockquote
          width: 68%;
          margin: 0 auto;
          font-size: 14px;
          //    border-left: 3px solid #eeeeee;

          @media screen and (max-width: $screen-xs-min) {
            width: 100%;
            padding: 0;
            margin: 40px 0;
            border-left: 0;
          }

          @media screen and (max-width: $screen-sm-min) {
            width: 100%;
            padding: 0;
            margin: 40px 0;
            border-left: 0;
          }

          @media screen and (max-width: $screen-md-min) {
            width: 100%;
            padding: 0;
            margin: 40px 0;
            border-left: 0;
          }
        }
      }
    }

    h2 {
      text-align: center;
      margin-bottom: 40px;

      @media screen and (max-width: $screen-xs-min) {
        text-align: left;
      }

      @media screen and (max-width: $screen-sm-min) {
        text-align: left;
      }

      @media screen and (max-width: $screen-md-min) {
        text-align: left;
      }
    }

    .case-study-front {

      .case-study-front-img {

        @media screen and (max-width: $screen-sm-min) {
          float: left;
        }

        @media screen and (max-width: $screen-md-min) {
          float: left;
        }

        img {
          border-radius: 50%;
          width: 30%;

          @media screen and (max-width: $screen-xs-min) {
            max-width: 100%;
            width: 80%;
          }

          @media screen and (max-width: $screen-sm-min) {
            max-width: 100%;
            width: 80%;
          }

          @media screen and (max-width: $screen-md-min) {
            max-width: 100%;
            width: 80%;
          }
        }
      }
    }


    ul.section-4-ul {
      list-style: none;
      //    list-style-image: none;
      padding: 0;
      margin: 0 0 25px 0;

      @media screen and (max-width: $screen-xs-min) {
        margin: 25px 0;
      }

      @media screen and (max-width: $screen-sm-min) {
        margin: 25px 0;
      }

      @media screen and (max-width: $screen-md-min) {
        margin: 25px 0;
      }

      li {
        margin-bottom: 15px;
        font-size: 13px;
        position: relative;
        padding: 0 0 0 34px;
        vertical-align: baseline;

        i.section-4-fa {
          position: absolute;
          left: 0;
          top: 3px;
        }

        @media screen and (min-width: $screen-sm-min) {
          font-size: 16px;
        }
      }
    }

    @media screen and (min-width: $screen-sm-min) {
      margin: 0;
      padding: 15px 15px 35px 10%;
    }

    @media screen and (min-width: $screen-md-min) {
      margin: 40px 0 0 0;
      h2 {
        white-space: nowrap;
      }
    }
  }
}


// SECTION 5

.section-5 {
  margin: 40px 0;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  #forums-front-col {
    padding-left: 15px;

    @media screen and (min-width: $screen-md-min) {
      padding-left: 0;
    }
  }
}

#section-5-container {

}

.front-social-module {
}

body.page-frontpage-custom-2015 {
  // Make the frontpage social modules the same height
  .front-social-height {
    @media screen and (min-width: $screen-md-min) {
      height: 380px;
    }
  }

  .front-social-height-inner {
    height: 320px;
    overflow: auto;
  }
}


.ghost-btn {
  display: inline-block;
  //    width: 260px;
  padding: 8px 44px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
  border-color 0.2s ease-out;
  font-size: 18px;
  //    margin: 5px;

  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 3px;

  /* Firefox 1-3.6 */
  -moz-border-radius: 3px;

  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 3px;

  @media screen and (min-width: $screen-xs-min) {

  }

  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: $screen-md-min) {
    margin-bottom: 40px;
    //      width: 220px;
  }
}

.ghost-btn:hover,
.ghost-btn:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
  border-color 0.3s ease-in;
}

.hero-button-wrap {
  @media screen and (min-width: $screen-xs-min) {
    margin-top: 10px;
  }
}


.ghost-btn-1 {
  padding: 8px 15px;
}

#section-3-ghost-btn {
  position: absolute;
  margin-top: 65%;
  //    top: 80%;
  //    left: 0%;

  a {
    font-size: 14px;
  }

  @media screen and (min-width: $screen-xs-min) {
    margin-top: 40%;
  }

  @media screen and (min-width: $screen-sm-min) {
    //      top: 75%;
    margin-top: 30%;

    a {
      font-size: 18px;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    //        top: 64%;
    margin-top: 20%;

    a {
      font-size: 18px;
    }
  }

  @media screen and (min-width: $screen-lg-min) {
    margin-top: 15%;
  }
}


// ========================================== //
/* Experiment with new btn styles for front page - October 2015
 bootstrapbay.com/blog/bootstrap-button-styles
 */
// ========================================== //

.btn-v2 {
  //    width: 260px;
  color: #fff;
  background: $aat-cta;
  border: 1px solid $aat-cta;
  display: inline-block;
  margin-bottom: 40px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 9px 10px;
  font-size: 14px;
  line-height: 1.428571429;

  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 3px;

  /* Firefox 1-3.6 */
  -moz-border-radius: 3px;

  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 3px;

  @media screen and (min-width: $screen-md-min) {
    margin-bottom: 25px;
    //      width: 220px;
  }
}

.btn-v2:hover,
.btn-v2:active,
.btn-v2:visited {
  color: #fff;
  text-decoration: none;
  //    Give buttons pressed down effect
  position: relative;
  top: 1px;
}

.btn-v2-default {
  box-shadow: 0 2px 0 0 $aat-cta-border;
}

.btn-v2-default:hover,
.btn-v2-default:active,
.btn-v2-default:visited {
  color: #fff;
  text-decoration: none;
  background: $aat-cta-hover;
  box-shadow: none;
  //    margin-bottom: 25px;
  //    margin-top: 1px;
}

.btn-v2-md {
  font-size: 18px;
  box-shadow: 0 3px 0 0 $aat-cta-border;
}

.btn-v2-sm {
  font-size: 14px;
  box-shadow: 0 3px 0 0 $aat-cta-border;
}

.btn-v2-xs {
  font-size: 12px;
  letter-spacing: .1em;
  box-shadow: 0 2px 0 0 $aat-cta-border;
}

.btn-frontpage-cta {
}