// Component ideas for REDESIGN-103 //

.steps-grid h2 {
  text-align: center;
}

///* General grid styles */
.steps-grid {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Clear floats */
.steps-grid:before,
.steps-grid:after {
  content: " ";
  display: table;
}

.steps-grid:after {
  clear: both;
}

/* grid item */
.steps-grid li {
  float: left;
  height: 290px;
  text-align: center;
}

/* we are using a combination of borders and box shadows to control the grid lines */
.steps-grid li:nth-child(-n+3){
  border-top: none;
}

.steps-grid li:nth-child(3n-1),
.steps-grid li:nth-child(3n-2) {
  //  box-shadow: 1px 0 0 #ddd;
}

/* anchor style */
.steps-grid li > a {
  display: block;
  height: 100%;
  color: $aat-green;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  text-decoration: none;
}


///* the icon with pseudo class for icon font */
.steps-number {
  padding: 0;
  display: block;
  font-family: 'Trade Gothic Bold', Arial, Helvetica, sans-serif;
  font-size: 10em;
  font-weight: 900;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: $aat-green-50;
}

.steps-number:hover {
  color: $aat-green-10;
}

///* title element */
.steps-grid .steps-title {
  color: $gray-dark;
  margin: -30px 0 10px 0;
  padding: 20px 0 0 0;
  font-size: 1.5em;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.steps-grid .steps-title:before {
  content: '';
  position: absolute;
  background: $aat-green-50;
  width: 160px;
  height: 6px;
  top: 0px;
  left: 50%;
  margin: 0 0 0 -80px;
  -webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
  -moz-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
}

.steps-grid li:hover .steps-category,
.touch .steps-grid li .steps-category {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}


///* Hover styles */

.steps-grid li > a:hover {
  //  background: $gray-xxlighter;
}

.steps-grid li > a:hover .steps-number {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

//.steps-grid li > a:hover .steps-number:before,
.steps-grid li > a:hover .steps-title {
  color: $gray-dark;

  //  font-family: "Trade Gothic W01", Arial, Helvetica, sans-serif;
  //  font-weight: 700;
}

.steps-grid li > a:hover .steps-title {
  -webkit-transform: translateY(-90px);
  -moz-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  transform: translateY(-90px);
}

.steps-grid li > a:hover .steps-title:before {
  background: $aat-green-50;
  margin-top: 130px;
}


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/// IDEA 2

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////


// Step 1 how to study




// MOBILE STYLING - @todo MEDIA QUEIRY
@media(max-width: $screen-xs-max){

  /* General grid styles */
  .steps-grid2 {
    list-style: none;
    padding: 0 0 50px 0;
    //margin: 0;
  }

  /* Clear floats */
  .steps-grid2:before,
  .steps-grid2:after {
    content: " ";
    display: table;
  }

  .steps-grid2:after {
    clear: both;
  }

  /* grid item */
  .steps-grid2 li {
    float: left;
    height: 150px;
    text-align: left;
    margin-top: 10px;
  }

  /* anchor style */
  .steps-grid2 li > a {
    display: block;
    height: 100%;
    color: $aat-green;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    transition: background 0.4s;
    text-decoration: none;
  }

  /* the icon with pseudo class for icon font */
  .steps-number2 {
    font-family: 'Trade Gothic Bold', Arial, Helvetica, sans-serif;
    font-size: 10em;
    font-weight: 900;
    padding: 0;
    display: block;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    float: left;
  }

  .steps-number2:before {
    font-size: 14em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    float: left;
  }

  /* title element */
  .steps-grid2 .steps-title2 {
    margin: 0;
    padding: 20px;
    font-size: 1.5em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    color: $aat-grey;
    top: 60px;
    //left: 2em;
  }

  //  .steps-grid2 .steps-title2:before {
  //    content: '';
  //    position: absolute;
  //    background: #fff;
  //    width: 97px;
  //    height: 6px;
  //    top: 0px;
  //    left: 92%;
  //    margin: 134px 0 0 -78px;
  //    -webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
  //    -moz-transition: margin-top 0.2s;
  //    transition: margin-top 0.2s;
  //
  //  }

  .steps-grid2 .steps-desc {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    -webkit-transform: translateY(10px);
    -moz-transform: -moz-translateY(10px);
    -ms-transform: -ms-translateY(10px);
    transform: translateY(10px);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    -webkit-transition: transform 0.3s, opacity 0.2s;
  }

  .steps-grid2 li:hover .steps-desc,
  .touch .steps-grid2 li .steps-desc {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  /* Hover styles */

  .steps-grid2 li > a:hover {
    background: $aat-green;
  }

  .steps-grid2 li > a:hover .steps-number2 {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    color: #fff;
  }

  .steps-grid2 li > a:hover .steps-number2:before {
    color: #fff;
  }

  //  Fix for iPAD/ iPhone - REDESIGN-151
  //   www.w3schools.com/css/css_link.asp
  .steps-grid2 li > a:link .steps-title2 {
    color: $aat-grey;
  }

  .steps-grid2 li > a:visited .steps-title2 {
    color: $aat-grey;
  }

  .steps-grid2 li > a:hover .steps-title2 {
    color: $aat-grey;
  }

  .steps-grid2 li > a:active .steps-title2 {
    color: $aat-grey;
  }

  .steps-grid2 li > a:hover .steps-title2 {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  .steps-grid2 li > a:hover .steps-title2:before {
    background: #fff;
    margin-top: 80px;
  }
}


@media screen and (min-width: $screen-sm-min) {

  /* General grid styles */
  .steps-grid2 {
    list-style: none;
    padding: 0 0 50px 0;
    margin: 0;
  }

  /* Clear floats */
  .steps-grid2:before,
  .steps-grid2:after {
    content: " ";
    display: table;
  }

  .steps-grid2:after {
    clear: both;
  }

  /* grid item */
  .steps-grid2 li {
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
    margin-top: 10px;
  }

  /* anchor style */
  .steps-grid2 li > a {
    display: block;
    height: 100%;
    color: $aat-green;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    transition: background 0.4s;
    text-decoration: none;
  }

  /* the icon with pseudo class for icon font */
  .steps-number2 {
    font-family: 'Trade Gothic Bold', Arial, Helvetica, sans-serif;
    font-size: 10em;
    font-weight: 900;
    padding: 0;
    display: block;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }

  .steps-number2:before {
    font-size: 14em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  /* title element */
  .steps-grid2 .steps-title2 {
    margin: -20px 0 10px 0;
    padding: 20px 0 0 0;
    font-size: 1.5em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    color: $aat-grey;
  }

  .steps-grid2 .steps-title2:before {
    content: '';
    position: absolute;
    background: $aat-green;
    width: 160px;
    height: 6px;
    top: 0px;
    left: 50%;
    margin: -10px 0 0 -80px;
    -webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
    -moz-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
  }

  .steps-grid2 .steps-desc {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    -webkit-transform: translateY(10px);
    -moz-transform: -moz-translateY(10px);
    -ms-transform: -ms-translateY(10px);
    transform: translateY(10px);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    -webkit-transition: transform 0.3s, opacity 0.2s;
  }

  .steps-grid2 li:hover .steps-desc,
  .touch .steps-grid2 li .steps-desc {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  /* Hover styles */

  .steps-grid2 li > a:hover {
    background: $aat-green;
  }

  .steps-grid2 li > a:hover .steps-number2 {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    color: #fff;
  }

  .steps-grid2 li > a:hover .steps-number2:before {
//    color: #fff;
    color: orange;
  }


//  Fix for iPAD/ iPhone - REDESIGN-151
//   www.w3schools.com/css/css_link.asp
  .steps-grid2 li > a:link .steps-title2 {
    color: $aat-grey;
  }

  .steps-grid2 li > a:visited .steps-title2 {
    color: $aat-grey;
  }

  .steps-grid2 li > a:hover .steps-title2 {
    color: $aat-grey;
  }

  .steps-grid2 li > a:active .steps-title2 {
    color: $aat-grey;
  }

  .steps-grid2 li > a:hover .steps-title2 {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  .steps-grid2 li > a:hover .steps-title2:before {
    background: #fff;
    margin-top: 80px;
  }
}


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/// IDEA 3

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* General grid styles */
.steps-grid3 {
  list-style: none;
  padding: 0 0 25px 0;
  margin: 0;
}

/* Clear floats */
.steps-grid3:before,
.steps-grid3:after {
  content: " ";
  display: table;
}

.steps-grid3:after {
  clear: both;
}

/* grid item */
.steps-grid3 li {
  //  width: 33%;
  float: left;
  height: 320px;
  text-align: center;
  //  border-top: 1px solid #ddd;
}


/* anchor style */
.steps-grid3 li > a {
  display: block;
  height: 100%;
  color: $aat-green;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  transition: background 1s;
  text-decoration: none;
}

/* the icon with pseudo class for icon font */
.steps-number3 {
  padding: 0;
  margin-top: 0;
  display: block;
  font-family: 'Trade Gothic Bold', Arial, Helvetica, sans-serif;
  font-size: 163px;
  font-weight: 900;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: $aat-green;
}


.steps-number3:before {
  font-size: 14em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.steps-number:hover {
  color: $aat-green-10;
}

/* title element */
.steps-grid3 .steps-title3 {
  margin: -20px 0 10px 0;
  padding: 20px 0 0 0;
  font-size: 2em;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  color: $gray-dark;
}

.steps-grid3 .steps-title3:before {
  content: '';
  position: absolute;
  background: $aat-green;
  width: 160px;
  height: 6px;
  top: 0px;
  left: 50%;
  margin: -10px 0 0 -80px;
  -webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
  -moz-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
}

.steps-grid3 .steps-desc3 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transform: translateY(10px);
  -moz-transform: -moz-translateY(10px);
  -ms-transform: -ms-translateY(10px);
  transform: translateY(10px);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  -webkit-transition: transform 0.3s, opacity 0.2s;
}

.steps-grid3 li:hover .steps-desc3,
.touch .steps-grid3 li .steps-desc3 {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* Hover styles */

.steps-grid3 li > a:hover {
  background: $gray-lightest;
}

.steps-grid3 li > a:hover .steps-number3 {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  //  color: #fff;
}

.steps-grid3 li > a:hover .steps-number3:before,
.steps-grid3 li > a:hover .steps-title3 {
  //  color: #fff;
}

.steps-grid3 li > a:hover .steps-title3 {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.steps-grid3 li > a:hover .steps-title3:before {
  //  background: #fff;
  margin-top: 80px;
}

//
//@media screen and (max-width: 62.75em) {
//  .steps-grid3 li {
//    width: 50%;
//  }
//
//  /* reset the grid lines */
//  .steps-grid3 li:nth-child(-n+3){
//    border-top: 1px solid #ddd;
//  }
//
//  .steps-grid3 li:nth-child(3n-1),
//  .steps-grid3 li:nth-child(3n-2) {
//    box-shadow: none;
//  }
//
//  .steps-grid3 li:nth-child(-n+2){
//    border-top: none;
//  }
//
//  .steps-grid3 li:nth-child(2n-1) {
//    box-shadow: 1px 0 0 #ddd;
//  }
//}
//
//@media screen and (max-width: 41.6em) {
//  .steps-grid3 li {
//    width: 100%;
//  }
//
//  .steps-grid3 li:nth-child(-n+2){
//    border-top: 1px solid #ddd;
//  }
//
//  .steps-grid3 li:nth-child(2n-1) {
//    box-shadow: none
//  }
//
//  .steps-grid3 li:first-child {
//    border-top: none;
//  }
//}
//
//@media screen and (max-width: 25em) {
//  .steps-grid3 {
//    font-size: 80%;
//  }
//
//  .steps-grid3 .steps-category3 {
//    margin-top: 20px;
//  }
//}
