.orange {

  background: #F28300;
  border: 1px solid #F28300;
  box-shadow: 0 3px 0 0 #d07100;
}


.btn-v2 {
  color: #fff;

  display: inline-block;
  margin-bottom: 40px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: pre-wrap;
  padding: 9px 10px;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}