// Footer Social icons

.top-top .social {
  height: 60px;
}

.to-top .social-icons li {
  display: inline-block;
  line-height: 5;
}

.to-top .social-icons li i {
  font-size: 2em;
  margin: 6px;
}

.to-top {
  height: 60px;
  background-color: $grey-lightest;
}

.to-top .to-top-wrap {
  height: 60px;
  width: 70px;
  position: absolute;
  right: 0;
  text-align: center;
}

.to-top .to-top-wrap a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.15);
}

.to-top .to-top-wrap a:hover, .to-top .to-top-wrap a:focus {
  background-color: rgba(0, 0, 0, 0.4);
}

.to-top .to-top-wrap i {
  font-size: 30px;
  line-height: 55px;
}

.to-top .row {
  position: relative;
}

//footer {
//  background-color: #fff;
//  position: relative;
//}

footer p {
  color: $grey-light;
  font-size: 13px;
}

footer a {
  color: $grey-light;
}

footer a:hover {
  color: #494948;
}

footer ul.footer-group {
  margin-bottom: 45px;
}

footer ul.footer-group li {
}

footer ul.footer-group li a {
  font-size: 13px;
  color: $aat-green;
}

footer ul.footer-group li a:hover {
  color: $aat-green;
}

footer ul.footer-group li {
  margin-right: 30px;
}

footer ul.footer-group li:last-child {
  margin-right: 0;
}

footer .footer-links {
  margin: 45px 0;
}

footer .footer-links h5 {
  color: $aat-grey;
}

footer .footer-links .logo {
  padding: 0;
  width: 100%;
  max-width: 100px;
  padding-bottom: 15px;
}

.footer-terms {
  background-color: $grey-darker;
  text-align: center;
  padding: 10px;
}

.footer-terms .term-links {
  display: inline-block;
  height: 45px;
}

.footer-terms .term-links ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  height: 45px;
}

.footer-terms .term-links ul li {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
}

.footer-terms .term-links ul a {
  color: $grey-light;
  text-decoration: none;
  line-height: 70px;
}

.footer-terms .term-links ul a:hover {
  color: $aat-green;
}

.footer-terms p.copyright {
  color: $grey-light;
  padding-top: 2px;
  line-height: 70px;
}