#header {

  overflow: hidden;

  #desktop-nav {
    position: absolute;
    left: 100px;
  }

  #top-nav {

    padding-top: 6px;

    .logo-top-bar {
      position: absolute;
      left: 20px;
    }

  }

}



