#header {

  overflow: hidden;

  #top-nav {

    padding-top: 6px;

    .desktop-nav {
      position: absolute;
      left: 100px;
    }

    .logo-top-bar {
      position: absolute;
      left: 20px;
    }

  }

}



