<nav class="navbar navbar-white navbar-fixed-top">

    <div class="container-fluid">

        <div class="navbar-header ">

            <div class="logo-top-bar">
                <a href="/frontpage">
                    <svg width="50" height="40">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/aat_logo.svg"
                               src="/img/logo.png" alt="AAT Home" width="50px" height="40px"></image>
                    </svg>
                </a>
            </div>


        </div>


        <!-- Desktop Menu  -->
        <div class="hidden-sm hidden-xs">

            <menu position="top"></menu>


            <ul>
                <li>Why AAT?</li>
                <li>Find a course</li>
                <li>Apprenticeships</li>
                <li>AAT membership</li>
                <li>Train your staff</li>
                <li>Registration</li>
                <li>News and events</li>
                <li></li>
            </ul>


        </div>


        <!-- Mobile Menu  -->
        <div class="account-utilities">

            <!-- Add hamburger + mobile menu overlay -->
            <div data-mobile-menu toggle="menu"></div>

        </div>
    </div>

</nav>