<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-offset-4 social">

                <ul class="social-icons">
                    <li><a href="http://forums.aat.org.uk" title="Visit forums.aat.org.uk" target="_blank"><i
                            class="social brandwhite fa fa-comments"></i></a></li>
                    <li><a href="http://www.aatcomment.org.uk" title="Visit aatcomment.org.uk" target="_blank"><i
                            class="social brandwhite fa fa-comment"></i></a></li>
                    <li><a href="http://www.facebook.com/youraat" title="Visit facebook.com/youraat" target="_blank"><i
                            class="social brandwhite fa fa-facebook-square"></i></a></li>
                    <li><a href="http://www.twitter.com/youraat" title="Visit twitter.com/youraat" target="_blank"><i
                            class="social brandwhite fa fa-twitter"></i></a></li>
                    <li><a href="http://www.linkedin.com/company/aat" title="Visit linkedin.com/company/aat"
                           target="_blank"><i class="social brandwhite fa fa-linkedin-square"></i></a></li>
                    <li><a href="http://www.youtube.com/user/yourbigfutureaat"
                           title="Visit youtube.com/user/yourbigfutureaat" target="_blank"><i
                            class="social brandwhite fa fa-youtube-play"></i></a></li>
                    <li><a href="http://instagram.com/youraat" title="Visit instagram.com/youraat" target="_blank"><i
                            class="social brandwhite fa fa-instagram"></i></a></li>
                    <li><a href="https://storify.com/YourAAT" title="Visit storify.com/YourAAT" target="_blank"><img
                            class="social brandwhite storify"></a></li>
                </ul>
            </div>

            <div class="col-xs-1 col-sm-4 to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>

        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer-links row">
            <div class="logo-wrap col-xs-12 col-sm-2">

                <div class="logo">
                    <!-- needs sizing -->
                    <a href="#"><img src="img/svg/aat_logo.svg" alt="AAT logo"></a>
                </div>

                <p class="text-wrap">©AAT 2016</p>

            </div>

            <div class="col-xs-12 col-sm-7">
                <h5>The Association of Accounting Technicians.</h5>

                <p class="text-wrap">
                    140 Aldersgate Street, London EC1A 4HY <br/>
                    Registered charity no.1050724. <br/>
                    A company limited by guarantee (No. 1518983).</p>
            </div>

            <!--<menu position="footer"></menu>-->

            <div class="col-xs-12 col-sm-3">
                <h5>Find an accountant</h5>

                <p>AAT members in practice offer a range of accounting services</p>
                <a href="#">
                    <div class="btn btn-primary"> Search our directory</div>
                </a>
            </div>
        </div>
    </div>
</footer>

<div class="footer-terms">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-inline">
                    <li><a href="/get-myaat/privacy-policy" title="Privacy policy">Privacy policy</a></li>
                    <li><a href="/get-myaat/aat-cookie-policy" title="Cookie policy">Cookie policy</a></li>
                    <li><a href="/about-aat/aat-equal-opportunities-policy" title="Equality of opportunity">Equality of
                        opportunity</a></li>
                    <li><a href="/get-myaat/aat-website-terms-and-conditions" title="Terms and conditions">Terms and
                        conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>