<!-- frontpage.tpl.html -->

<!-- @todo : clean up 20151106 _mR -->

<section class="hero">

    <div class="container">

        <div class="row">

            <div id="head-content" class="col-xs-12 text-center">

                <h1>Achieve your potential</h1>

                <h2>with finance and accounting skills</h2>

            </div>
            <!-- end col -->

        </div>
        <!-- end row -->


    </div>
    <!-- end head container -->

</section>


<section class="section-2 module">
    <div class="container">
        <div id="section-2-container" class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 section-2-cta cta-1">
                <h2>Choose where to study</h2>

                <p>Search our directory of AAT approved colleges, centres and distance learning providers</p>

                <div class="section-2-btn-wrap"><a href="/training-providers/search"
                                                   class="btn btn-default section-2-btn frontpage-vbottom">Find a
                    training provider</a></div>

            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 section-2-cta cta-2">
                <h2>Register with AAT</h2>

                <p>You need to sign up to sit your assessments and access exclusive study materials</p>

                <div class="section-2-btn-wrap"><a href="/register/student"
                                                   class="btn btn-default section-2-btn frontpage-vbottom">Register as a
                    student</a></div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 section-2-cta cta-3">
                <h2>Need an accountant?</h2>

                <p>AAT members in practice are approved to offer a wide range of accounting services</p>

                <div class="section-2-btn-wrap"><a href="/membership/member-in-practice/search"
                                                   class="btn btn-default section-2-btn frontpage-vbottom">Search our
                    directory</a></div>

            </div>

        </div>
        <!-- end #section-2-container - row -->

    </div>
    <!-- end container -->


</section>
<!-- end section-2 -->


