<section id="frontpage">

    <!-- HERO -->
    <section id="hero" class="module hero section-1">

        <div class="container">

            <div class="row">
                <div class="col-sm-12">

                    <h1>Practical finance and accounting courses
                        <br>
                        whatever your experience</h1>

                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">

                        <div class="hero-button-wrap">
                            <div class="hidden-xs col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
                                <a id="play-video" href="#video-player" class="ghost-btn ghost-btn-1"
                                   data-toggle="modal" data-target="#myModal" data-backdrop="true">
                                    <i class="fa fa-youtube-play"></i>Hear student stories</a>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <a href="/accounting-qualification/info-pack"
                                   class="btn-v2 btn-v2-default btn-v2-md btn-frontpage-cta">Get a free course
                                    prospectus</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </section>


    <!-- HOW TO STUDY -->
    <section id="how-to-study" class="module">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h1>How to start studying with AAT</h1>

                    <ul class="steps list-inline">
                        <li>
                            <a href="http://www.aatqualificationsnavigator.org.uk">
                                <span>1</span>
                                <p>Choose a course</p>

                            </a>
                        </li>
                        <li>
                            <a href="/training-providers/search">
                                <span>2</span>
                                <p>Find a training provider</p>

                            </a>
                        </li>
                        <li>
                            <a href="/register/student">
                                <span>3</span>
                                <p>Register with AAT <br/>and start your training</p>

                            </a>
                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </section>


    <!-- HELLO CAREER -->
    <section id="hello-career" class="module hello-career">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h1>GOODBYE JOB. HELLO CAREER.</h1>

                    <p id="section-3-campaign-text">Every year 70,000 people discover the value of an AAT
                        finance qualification.</p>

                    <div class="campaign-btn">
                        <a href="/career-in-accounting" class="btn-v2 btn-v2-default btn-v2-md">Take your
                            first step<br/>hear from our students</a>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- SKILLS -->
    <section id="skills" class="module">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h1>AAT's practical accounting and finance qualifications<br/>
                        give you skills all employers need</h1>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 case-study">

                            <figure class="quote">
                                <div class="case-study-img">
                                    <img
                                            src="/img/frontpage/case-study-2.jpg"
                                            alt="Elaine Margetts, Controller at TUI Travel" class="img-circle"/>
                                </div>

                                <div class="blockquote-text">
                                    <blockquote>"We've noticed the difference in our employees - they
                                        are much more motivated and keen to learn. They implement the
                                        technical skills that they learn in their studies in their day to
                                        day work."
                                    </blockquote>
                                </div>
                                <figcaption>
                                    Elaine Margetts,
                                    <cite>Controller at TUI Travel</cite>
                                </figcaption>
                            </figure>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                            <ul class="section-4-ul">

                                <li>
                                    <i class="fa fa-check-circled section-4-fa"></i>
                                    Flexible courses make it easy to fit learning around your life
                                </li>
                                <li>
                                    <i class="fa fa-check-circled section-4-fa"></i>
                                    Universally respected and internationally recognised
                                </li>
                                <li>
                                    <i class="fa fa-check-circled section-4-fa"></i>
                                    Award-winning study materials, resources and support
                                </li>
                                <li>
                                    <i class="fa fa-check-circled section-4-fa"></i>
                                    Employers trust AAT qualifications
                                </li>
                                <li>
                                    <i class="fa fa-check-circled section-4-fa"></i>
                                    125,000 members in more than 90 countries
                                </li>

                            </ul>

                            <a href="/why-aat/why-choose-aat"
                               class="btn-v2 btn-v2-default btn-v2-md">More reasons to choose
                                AAT</a>
                        </div>
                    </div>
                    <!-- End row   -->

                </div>
            </div>
        </div>

    </section>


</section> <!-- /#main -->


<!-- Modal -->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog"-->
<!--aria-labelledby="myModalLabel">-->

<!--<div class="modal-inner">-->

<!--<div class="modal-body">-->
<!--<button type="button" class="close" data-dismiss="modal"-->
<!--aria-label="Close"><span-->
<!--aria-hidden="true"><i class="fa fa-times-circle"></i></span>-->
<!--</button>-->
<!--<div class="youtube"-->
<!--id="8j2bcoPKDNQ"-->
<!--data-params="modestbranding=1&amp;showinfo=0&amp;controls=0&amp;vq=hd720&amp;enablejsapi=1">-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!-- End modal   -->

</section>