<!-- contact.html -->
<div class="page-content">

    <section id="contact">

        <div class="container">

            <div class="row">

                <div class="col-sm-12">
                    <h1 id="page-title">Contact</h1>


                    <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
                        <formly-form model="vm.model" fields="vm.fields" options="vm.options">
                            <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">
                                Submit
                            </button>
                            <button type="button" class="btn btn-default" ng-click="vm.options.resetModel()">Reset
                            </button>
                        </formly-form>
                    </form>

                </div>

            </div>

        </div>

    </section>

</div>