.login-top-bar .logout {

  cursor: pointer;

}

.login-top-bar .logout:hover {
  text-decoration: underline;
}

.login-top-bar{
  padding-top: 1em;
  font-weight: bold;
  margin-right: 3.5em;
  cursor: pointer;
  //border: 1px solid red;
}
.logout-top-bar, .login-popover{
  margin-top: -0.5em;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  transition: all 0.6s border-radius;
}
.popover-content .page-content{
  margin: 1em;
}
.sm-field{
  width: 200px;
}
.icon-down-dir.login:before {
    margin-left: -1.1em !important;
    margin-top: 1em;
  }
.icon-down-dir.login :hover{
  text-decoration: none;
}
.user-menu{
  background-color:#F5F5F5;
  padding: 0.5em;
  margin: 0;
  border-bottom: 1px solid #808080;
}
.logout.user-menu{
  background-color:#FFFFF0 ;
}