
<div ng-controller="MaintenanceCtrl">

<div class="container maintenance-container">

    <div class="row">

        <section class="col-md-12 section-1">
            <h1>Website down for maintenance</h1>
        </section>
        <!--End col-->

        <section class="col-md-6">
            <p>The AAT website is unavailable due to essential maintenance work. Please accept our apologies for any inconvenience this may cause.</p>
            <p>
            While the main AAT website is unavailable you can access the following services and content:</p>

            <ul>
                <li class="promo-link"><a href="https://aat.secureassess.co.uk/secureassess/SecureAssessDelivery.html">CBP - web access</a></li>
                <li class="promo-link"><a href="http://aat-interactive.org.uk/aat/practice_assessments/ ">Sample assessments</a></li>
                <li class="promo-link"><a href="http://forums.aat.org.uk/ ">AAT Forums</a></li>
                <li class="promo-link"><a href="http://www.aat-interactive.org.uk/cpd/ ">CPD Interactive</a></li>
                <li class="promo-link"><a href="https://www.facebook.com/youraat">AAT Facebook page</a></li>
                <li class="promo-link"><a href="https://twitter.com/youraat">Follow AAT on Twitter</a></li>
            </ul>


            <p><b>Contact AAT:</b> Call  +44 (0) 20 3735 2468 or email <a href="aat@aat.org.uk" target="_top">aat@aat.org.uk</a></p>


            <a href="/about">About Us</a>

        </section>
        <!--End col-->

        <section class="col-md-6">
            <img src="http://aat-interactive.org.uk/aat/images/back_soon.gif" width="190" height="262" alt="Be back soon">
        </section>
        <!--End col-->


    </div>
    <!--End row-->

</div>
    <!-- End container -->

</div>
<!-- End controller -->
